In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules

In [17]:
data = pd.read_csv('my_movies.csv')
data.head()

            V1       V2             V3  ... LOTR Braveheart  Green Mile
0  Sixth Sense    LOTR1  Harry Potter1  ...    0          0           1
1    Gladiator  Patriot     Braveheart  ...    0          1           0
2        LOTR1    LOTR2            NaN  ...    0          0           0
3    Gladiator  Patriot    Sixth Sense  ...    0          0           0
4    Gladiator  Patriot    Sixth Sense  ...    0          0           0

[5 rows x 15 columns]

In [18]:
data = data.drop(['V1','V2','V3','V4','V5'],axis=1)
data

   Sixth Sense  Gladiator  LOTR1  ...  LOTR  Braveheart  Green Mile
0            1          0      1  ...     0           0           1
1            0          1      0  ...     0           1           0
2            0          0      1  ...     0           0           0
3            1          1      0  ...     0           0           0
4            1          1      0  ...     0           0           0
5            1          1      0  ...     0           0           0
6            0          0      0  ...     0           0           0
7            0          1      0  ...     0           0           0
8            1          1      0  ...     0           0           0
9            1          1      0  ...     1           0           1

[10 rows x 10 columns]

In [20]:
#support value of 0.5
freq_sets_1 = apriori(data,min_support=0.5,use_colnames=True)
freq_sets_1

   support                  itemsets
0      0.6             (Sixth Sense)
1      0.7               (Gladiator)
2      0.6                 (Patriot)
3      0.5  (Gladiator, Sixth Sense)
4      0.6      (Patriot, Gladiator)

In [24]:
results_1_conf = association_rules(freq_sets_1,metric='confidence',min_threshold=0.5)
results_1_conf

     antecedents    consequents  ...  leverage  conviction
0    (Gladiator)  (Sixth Sense)  ...      0.08         1.4
1  (Sixth Sense)    (Gladiator)  ...      0.08         1.8
2      (Patriot)    (Gladiator)  ...      0.18         inf
3    (Gladiator)      (Patriot)  ...      0.18         2.8

[4 rows x 9 columns]

In [28]:
results_1_supp = association_rules(freq_sets_1,metric='support',min_threshold=0.3)
results_1_supp

     antecedents    consequents  ...  leverage  conviction
0    (Gladiator)  (Sixth Sense)  ...      0.08         1.4
1  (Sixth Sense)    (Gladiator)  ...      0.08         1.8
2      (Patriot)    (Gladiator)  ...      0.18         inf
3    (Gladiator)      (Patriot)  ...      0.18         2.8

[4 rows x 9 columns]

In [30]:
# support value of 0.2
freq_sets_2 = apriori(data,min_support=0.2,use_colnames=True)
freq_sets_2

    support                           itemsets
0       0.6                      (Sixth Sense)
1       0.7                        (Gladiator)
2       0.2                            (LOTR1)
3       0.2                    (Harry Potter1)
4       0.6                          (Patriot)
5       0.2                            (LOTR2)
6       0.2                       (Green Mile)
7       0.5           (Gladiator, Sixth Sense)
8       0.4             (Patriot, Sixth Sense)
9       0.2          (Green Mile, Sixth Sense)
10      0.6               (Patriot, Gladiator)
11      0.2                     (LOTR2, LOTR1)
12      0.4  (Patriot, Gladiator, Sixth Sense)

In [34]:
results_2 = association_rules(freq_sets_2,metric='confidence',min_threshold=0.5)
results_2

                 antecedents               consequents  ...  leverage  conviction
0                (Gladiator)             (Sixth Sense)  ...      0.08         1.4
1              (Sixth Sense)               (Gladiator)  ...      0.08         1.8
2                  (Patriot)             (Sixth Sense)  ...      0.04         1.2
3              (Sixth Sense)                 (Patriot)  ...      0.04         1.2
4               (Green Mile)             (Sixth Sense)  ...      0.08         inf
5                  (Patriot)               (Gladiator)  ...      0.18         inf
6                (Gladiator)                 (Patriot)  ...      0.18         2.8
7                    (LOTR2)                   (LOTR1)  ...      0.16         inf
8                    (LOTR1)                   (LOTR2)  ...      0.16         inf
9       (Patriot, Gladiator)             (Sixth Sense)  ...      0.04         1.2
10    (Patriot, Sixth Sense)               (Gladiator)  ...      0.12         inf
11  (Gladiator, Sixth Sense)                 (Patriot)  ...      0.10         2.0
12                 (Patriot)  (Gladiator, Sixth Sense)  ...      0.10         1.5
13               (Gladiator)    (Patriot, Sixth Sense)  ...      0.12         1.4
14             (Sixth Sense)      (Patriot, Gladiator)  ...      0.04         1.2

[15 rows x 9 columns]

In [36]:
# support value of 0.1
freq_sets_3 = apriori(data,use_colnames=True,min_support=0.1)
freq_sets_3

    support                                           itemsets
0       0.6                                      (Sixth Sense)
1       0.7                                        (Gladiator)
2       0.2                                            (LOTR1)
3       0.2                                    (Harry Potter1)
4       0.6                                          (Patriot)
5       0.2                                            (LOTR2)
6       0.1                                    (Harry Potter2)
7       0.1                                             (LOTR)
8       0.1                                       (Braveheart)
9       0.2                                       (Green Mile)
10      0.5                           (Gladiator, Sixth Sense)
11      0.1                               (LOTR1, Sixth Sense)
12      0.1                       (Harry Potter1, Sixth Sense)
13      0.4                             (Patriot, Sixth Sense)
14      0.1                               (LOTR2, Sixth Sense)
15      0.1                                (LOTR, Sixth Sense)
16      0.2                          (Green Mile, Sixth Sense)
17      0.6                               (Patriot, Gladiator)
18      0.1                                  (LOTR, Gladiator)
19      0.1                            (Braveheart, Gladiator)
20      0.1                            (Green Mile, Gladiator)
21      0.1                             (Harry Potter1, LOTR1)
22      0.2                                     (LOTR2, LOTR1)
23      0.1                                (Green Mile, LOTR1)
24      0.1                             (LOTR2, Harry Potter1)
25      0.1                     (Harry Potter2, Harry Potter1)
26      0.1                        (Green Mile, Harry Potter1)
27      0.1                              (Braveheart, Patriot)
28      0.1                                (Green Mile, LOTR2)
29      0.1                                 (Green Mile, LOTR)
30      0.4                  (Patriot, Gladiator, Sixth Sense)
31      0.1                     (LOTR, Gladiator, Sixth Sense)
32      0.1               (Green Mile, Gladiator, Sixth Sense)
33      0.1                (LOTR1, Harry Potter1, Sixth Sense)
34      0.1                        (LOTR1, LOTR2, Sixth Sense)
35      0.1                   (Green Mile, LOTR1, Sixth Sense)
36      0.1                (LOTR2, Harry Potter1, Sixth Sense)
37      0.1           (Green Mile, Harry Potter1, Sixth Sense)
38      0.1                   (Green Mile, LOTR2, Sixth Sense)
39      0.1                    (Green Mile, LOTR, Sixth Sense)
40      0.1                   (Braveheart, Patriot, Gladiator)
41      0.1                      (Green Mile, LOTR, Gladiator)
42      0.1                      (LOTR2, Harry Potter1, LOTR1)
43      0.1                 (Green Mile, Harry Potter1, LOTR1)
44      0.1                         (Green Mile, LOTR2, LOTR1)
45      0.1                 (Green Mile, Harry Potter1, LOTR2)
46      0.1         (Green Mile, LOTR, Gladiator, Sixth Sense)
47      0.1         (LOTR1, Harry Potter1, LOTR2, Sixth Sense)
48      0.1    (Green Mile, Harry Potter1, LOTR1, Sixth Sense)
49      0.1            (Green Mile, LOTR1, LOTR2, Sixth Sense)
50      0.1    (Green Mile, Harry Potter1, LOTR2, Sixth Sense)
51      0.1          (Green Mile, Harry Potter1, LOTR2, LOTR1)
52      0.1  (LOTR2, LOTR1, Sixth Sense, Harry Potter1, Gre...

In [41]:
results_3 = association_rules(freq_sets_3,metric='confidence',min_threshold=0.7)
results_3

                      antecedents  ... conviction
0                     (Gladiator)  ...        1.4
1                   (Sixth Sense)  ...        1.8
2                          (LOTR)  ...        inf
3                    (Green Mile)  ...        inf
4                       (Patriot)  ...        inf
..                            ...  ...        ...
124          (Sixth Sense, LOTR1)  ...        inf
125        (Harry Potter1, LOTR1)  ...        inf
126           (Green Mile, LOTR1)  ...        inf
127  (Harry Potter1, Sixth Sense)  ...        inf
128   (Green Mile, Harry Potter1)  ...        inf

[129 rows x 9 columns]